<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="">
	<title></title>
</head>
<body>
	<form action="/users" method="post">
		<label>Name:</label>
		<input type="text" name="name">
		<label>Age:</label>
		<input type="text" name="age">
		<input type="submit" value="Submit">
	</form>
	<div>
		<br>
		<label>User name:</label>
		<p><%= user.name %></p>
		<label>User age:</label>
		<p><%= user.age %></p>
	</div>

</body>
</html>